body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  color: #2e2f42;
}
.web {
  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-links {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.hero-image {
  background-color: #2e2f42;
}
.hero-image > h1 {
  color: #ffffff;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}
.hero-image > button {
  background: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.bottom {
  background-color: #2e2f42;
}

.nav-links:hover {
  color: #404bbf;
}
.hero-image button:hover {
  background: #404bbf;
}

.strategy p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
.about > h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
}
.team > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
}
.team {
  background: #f4f4fd;
}
.team-card {
  background: #ffffff;
}
.team-card > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
.team-card > h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 24px;
}
.web-bottom {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-bottom {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #f4f4fd;
}
.bottom > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.nav-links-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.nav-links-contacts:hover {
  color: #404bbf;
}
.button-list {
  list-style-type: none;
}
.button-list button {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.button-list button:hover {
  background: #404bbf;
  color: #ffffff;
}
.list h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
